@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--gray: #333;
	--blue: #2352de;
}

body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1215px;
}

.title {
	margin-bottom: 60px;
	color: #333;
	font-weight: 700;
	font-size: 48px;
	line-height: 130%;
}

/* ---------------------------------- */

.header {
	position: absolute;
	top: 75px;
	left: 0;
	z-index: 50;
	width: 100%;
	color: #fff;
}

.container {
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
}

.header__menu {
	display: flex;
	gap: 35px;
}

.header__item {
}

.header__link {
	font-weight: 600;
	font-size: 18px;
}

/* --------------hero title-------------------- */
.hero {
	position: relative;
	background-image: url(../img/bg.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(35, 82, 222, 0.5);
		width: 100%;
		height: 100%;
		content: '';
	}
}

.hero__content {
	display: flex;
	position: relative;
	align-items: center;
	z-index: 5;
	height: 100vh;
}

.hero__title {
	font-weight: 700;
	font-size: 90px;
	line-height: 123px;

	span {
		display: block;
		font-weight: 400;
		font-size: 48px;
		line-height: 65px;
	}
}

.hero__scroll {
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 50%;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	transform: translateX(-50%);
	font-style: 18px;
	font-weight: 600;
}

/* --------------About------- */
.about {
	padding: 140px 0;
}

.about__title {
	margin-bottom: 60px;
	color: var(--gray);
	font-weight: 700;
	font-size: 48px;
	line-height: 65px;
	text-align: left;
}

.about__text {
	display: flex;
	flex-direction: column;
	gap: 30px;
	color: var(--gray);
	font-size: 18px;
	line-height: 25px;
}

/* ---------Skills-------- */
.skills {
	padding: 140px 0;
}
.container {
}
.skills__title {
}
.title {
}
.skills__content {
	display: flex;
	align-items: center;
	gap: 75px;
}
.skills__image {
}
.skills__box {
	display: flex;
	flex-direction: column;
	gap: 85px;
	width: 100%;
}
.skills__item {
	display: flex;
   align-items: center;
}
.skills__name {
	min-width: 65px;
   color: var(--gray);
   font-size: 18px;
}
.skills__line {
	position: relative;
	background-color: #dbdbed;
	width: 100%;
	max-width: 600px;
	height: 32px;
}
.skills__blue {
	position: absolute;
	background-color: var(--blue);
	width: 100%;
	max-width: 85%;
	height: 32px;
}

/* -------------Services------------- */
